body{
    margin: 5%;
    background-color: rgb(211, 208, 208)
}
#main{
    text-align: center;
    font-size: large;
    width: 100%;

}
.line{
   width: 33%;
   background-color: rgb(221, 7, 7);
   height: .1em;
}
#image{
    max-width: 95%;
    display: block;
    height: auto;
    margin: 0 auto;

}
#title{
    color:black;
    width: 100%;
}
#img-div{
    text-align: center;
    background-color: rgb(235, 231, 235);
    padding-top: 3%;
    box-shadow: 10px 10px 10px rgb(112, 102, 102);  

}
#img-caption{
    font-style: italic;
    font-size:15px;
    position: relative;
    text-align: center;
    bottom:12px;
}
p{
    text-align: justify;
}
#tribute-info{
    padding: 5px;
    margin-top: 10px;
    box-shadow: 10px 10px 10px rgb(107, 106, 106); 
    background-color: rgb(177, 172, 172);
    text-align: center; 
    font-size: large;
   
}
#time-lines{
    box-shadow: 10px 10px 10px rgb(107, 106, 106); 
    background-color: rgb(177, 172, 172);
    font-size: large;
    padding: 2%;
    margin-top: 2%;
}
h2{
    text-align: center;
}
#footer{
    text-align: center;
    margin-top: 20px;
}
.about-buddha{
    padding: 4%;
    margin: 3%;
    margin-bottom: 3%;
    background-color: rgb(233, 227, 227);  
}

